In [122]:
from pathlib import Path
import requests
from tqdm.auto import tqdm
import tarfile
import matplotlib.pyplot as plt
import numpy as np
import scipy
import pandas as pd

# Download and Untar Data

In [2]:
WD_PATH = Path(".")
DATA_PATH = WD_PATH / "Data"

In [3]:
if not DATA_PATH.exists():
    DATA_PATH.mkdir()

In [228]:
train_url = "http://imagenet.stanford.edu/internal/car196/cars_train.tgz"
test_url = "http://imagenet.stanford.edu/internal/car196/cars_test.tgz"
devkit_url = "https://ai.stanford.edu/~jkrause/cars/car_devkit.tgz"
test_annos_withlabels_url = "http://imagenet.stanford.edu/internal/car196/cars_test_annos_withlabels.mat"

In [8]:
train_url.split('/')[-1]

'cars_train.tgz'

In [18]:
def dl(url, dest_dir):
    assert isinstance(dest_dir, Path), "dest_dir must be a Path object"
    filename = url.split('/')[-1]
    file_path = dest_dir / filename
    if not file_path.exists():
        with open(f'{dest_dir}/{filename}', 'wb') as f:
            response = requests.get(url, stream=True)
            total = int(response.headers.get('content-length'))
            with tqdm(total=total, unit='B', unit_scale=True, desc=filename) as pbar:
                for data in response.iter_content(chunk_size=1024*1024):
                    f.write(data)
                    pbar.update(1024*1024)
    else:
        return file_path
    return file_path

In [19]:
train_tar_path = dl(train_url, DATA_PATH)

In [20]:
test_tar_path = dl(test_url, DATA_PATH)

In [45]:
devkit_tar_path = dl(devkit_url, DATA_PATH)

HBox(children=(IntProgress(value=0, description='car_devkit.tgz', max=330960, style=ProgressStyle(description_…

HBox(children=(IntProgress(value=0, description='cars_test_annos_withlabels.mat', max=185758, style=ProgressSt…

PosixPath('Data/cars_test_annos_withlabels.mat')

In [53]:
def untar_tgz(tgz_path, dest_dir):
    assert isinstance(tgz_path, Path), "tgz_path must be a Path object"
    assert tgz_path.exists(), "tgz_path does not exists"
    assert tgz_path.suffix == ".tgz", "tgz_path is not a .tgz file"
    if tgz_path.stem == "car_devkit":
        final_path = dest_dir / "devkit"
    else:
        final_path = dest_dir / tgz_path.stem
    if not final_path.exists():
        tar = tarfile.open(tgz_path, 'r:gz')
        tar.extractall(dest_dir)
    return final_path

In [54]:
train_path = untar_tgz(train_tar_path, DATA_PATH)

In [55]:
test_path = untar_tgz(test_tar_path, DATA_PATH)

In [56]:
devkit_path = untar_tgz(devkit_tar_path, DATA_PATH)

In [230]:
dl(test_annos_withlabels_url, devkit_path)

HBox(children=(IntProgress(value=0, description='cars_test_annos_withlabels.mat', max=185758, style=ProgressSt…

PosixPath('Data/devkit/cars_test_annos_withlabels.mat')

# Explore

In [231]:
!ls {str(devkit_path.resolve())}

cars_meta.mat			cars_train_annos.mat  train_perfect_preds.txt
cars_test_annos.mat		eval_train.m
cars_test_annos_withlabels.mat	README.txt

In [115]:
cars_meta = scipy.io.loadmat(devkit_path / "cars_meta.mat")

In [116]:
cars_meta['class_names']

array([[array(['AM General Hummer SUV 2000'], dtype='<U26'),
        array(['Acura RL Sedan 2012'], dtype='<U19'),
        array(['Acura TL Sedan 2012'], dtype='<U19'),
        array(['Acura TL Type-S 2008'], dtype='<U20'),
        array(['Acura TSX Sedan 2012'], dtype='<U20'),
        array(['Acura Integra Type R 2001'], dtype='<U25'),
        array(['Acura ZDX Hatchback 2012'], dtype='<U24'),
        array(['Aston Martin V8 Vantage Convertible 2012'], dtype='<U40'),
        array(['Aston Martin V8 Vantage Coupe 2012'], dtype='<U34'),
        array(['Aston Martin Virage Convertible 2012'], dtype='<U36'),
        array(['Aston Martin Virage Coupe 2012'], dtype='<U30'),
        array(['Audi RS 4 Convertible 2008'], dtype='<U26'),
        array(['Audi A5 Coupe 2012'], dtype='<U18'),
        array(['Audi TTS Coupe 2012'], dtype='<U19'),
        array(['Audi R8 Coupe 2012'], dtype='<U18'),
        array(['Audi V8 Sedan 1994'], dtype='<U18'),
        array(['Audi 100 Sedan 1994'], dtype='<U19'),
        array(['Audi 100 Wagon 1994'], dtype='<U19'),
        array(['Audi TT Hatchback 2011'], dtype='<U22'),
        array(['Audi S6 Sedan 2011'], dtype='<U18'),
        array(['Audi S5 Convertible 2012'], dtype='<U24'),
        array(['Audi S5 Coupe 2012'], dtype='<U18'),
        array(['Audi S4 Sedan 2012'], dtype='<U18'),
        array(['Audi S4 Sedan 2007'], dtype='<U18'),
        array(['Audi TT RS Coupe 2012'], dtype='<U21'),
        array(['BMW ActiveHybrid 5 Sedan 2012'], dtype='<U29'),
        array(['BMW 1 Series Convertible 2012'], dtype='<U29'),
        array(['BMW 1 Series Coupe 2012'], dtype='<U23'),
        array(['BMW 3 Series Sedan 2012'], dtype='<U23'),
        array(['BMW 3 Series Wagon 2012'], dtype='<U23'),
        array(['BMW 6 Series Convertible 2007'], dtype='<U29'),
        array(['BMW X5 SUV 2007'], dtype='<U15'),
        array(['BMW X6 SUV 2012'], dtype='<U15'),
        array(['BMW M3 Coupe 2012'], dtype='<U17'),
        array(['BMW M5 Sedan 2010'], dtype='<U17'),
        array(['BMW M6 Convertible 2010'], dtype='<U23'),
        array(['BMW X3 SUV 2012'], dtype='<U15'),
        array(['BMW Z4 Convertible 2012'], dtype='<U23'),
        array(['Bentley Continental Supersports Conv. Convertible 2012'],
      dtype='<U54'),
        array(['Bentley Arnage Sedan 2009'], dtype='<U25'),
        array(['Bentley Mulsanne Sedan 2011'], dtype='<U27'),
        array(['Bentley Continental GT Coupe 2012'], dtype='<U33'),
        array(['Bentley Continental GT Coupe 2007'], dtype='<U33'),
        array(['Bentley Continental Flying Spur Sedan 2007'], dtype='<U42'),
        array(['Bugatti Veyron 16.4 Convertible 2009'], dtype='<U36'),
        array(['Bugatti Veyron 16.4 Coupe 2009'], dtype='<U30'),
        array(['Buick Regal GS 2012'], dtype='<U19'),
        array(['Buick Rainier SUV 2007'], dtype='<U22'),
        array(['Buick Verano Sedan 2012'], dtype='<U23'),
        array(['Buick Enclave SUV 2012'], dtype='<U22'),
        array(['Cadillac CTS-V Sedan 2012'], dtype='<U25'),
        array(['Cadillac SRX SUV 2012'], dtype='<U21'),
        array(['Cadillac Escalade EXT Crew Cab 2007'], dtype='<U35'),
        array(['Chevrolet Silverado 1500 Hybrid Crew Cab 2012'], dtype='<U45'),
        array(['Chevrolet Corvette Convertible 2012'], dtype='<U35'),
        array(['Chevrolet Corvette ZR1 2012'], dtype='<U27'),
        array(['Chevrolet Corvette Ron Fellows Edition Z06 2007'], dtype='<U47'),
        array(['Chevrolet Traverse SUV 2012'], dtype='<U27'),
        array(['Chevrolet Camaro Convertible 2012'], dtype='<U33'),
        array(['Chevrolet HHR SS 2010'], dtype='<U21'),
        array(['Chevrolet Impala Sedan 2007'], dtype='<U27'),
        array(['Chevrolet Tahoe Hybrid SUV 2012'], dtype='<U31'),
        array(['Chevrolet Sonic Sedan 2012'], dtype='<U26'),
        array(['Chevrolet Express Cargo Van 2007'], dtype='<U32'),
        array(['Chevrolet Avalanche Crew Cab 2012'], dtype='<U33'),
        array(['Chevrolet Cobalt SS 2010'], dtype='<U24'),
        array(['Chevrolet Malibu Hybrid Sedan 2010'], dtype='<U34'),
        array(['Chevrolet TrailBlazer SS 2009'], dtype='<U29'),
        array(['Chevrolet Silverado 2500HD Regular Cab 2012'], dtype='<U43'),
        array(['Chevrolet Silverado 1500 Classic Extended Cab 2007'], dtype='<U50'),
        array(['Chevrolet Express Van 2007'], dtype='<U26'),
        array(['Chevrolet Monte Carlo Coupe 2007'], dtype='<U32'),
        array(['Chevrolet Malibu Sedan 2007'], dtype='<U27'),
        array(['Chevrolet Silverado 1500 Extended Cab 2012'], dtype='<U42'),
        array(['Chevrolet Silverado 1500 Regular Cab 2012'], dtype='<U41'),
        array(['Chrysler Aspen SUV 2009'], dtype='<U23'),
        array(['Chrysler Sebring Convertible 2010'], dtype='<U33'),
        array(['Chrysler Town and Country Minivan 2012'], dtype='<U38'),
        array(['Chrysler 300 SRT-8 2010'], dtype='<U23'),
        array(['Chrysler Crossfire Convertible 2008'], dtype='<U35'),
        array(['Chrysler PT Cruiser Convertible 2008'], dtype='<U36'),
        array(['Daewoo Nubira Wagon 2002'], dtype='<U24'),
        array(['Dodge Caliber Wagon 2012'], dtype='<U24'),
        array(['Dodge Caliber Wagon 2007'], dtype='<U24'),
        array(['Dodge Caravan Minivan 1997'], dtype='<U26'),
        array(['Dodge Ram Pickup 3500 Crew Cab 2010'], dtype='<U35'),
        array(['Dodge Ram Pickup 3500 Quad Cab 2009'], dtype='<U35'),
        array(['Dodge Sprinter Cargo Van 2009'], dtype='<U29'),
        array(['Dodge Journey SUV 2012'], dtype='<U22'),
        array(['Dodge Dakota Crew Cab 2010'], dtype='<U26'),
        array(['Dodge Dakota Club Cab 2007'], dtype='<U26'),
        array(['Dodge Magnum Wagon 2008'], dtype='<U23'),
        array(['Dodge Challenger SRT8 2011'], dtype='<U26'),
        array(['Dodge Durango SUV 2012'], dtype='<U22'),
        array(['Dodge Durango SUV 2007'], dtype='<U22'),
        array(['Dodge Charger Sedan 2012'], dtype='<U24'),
        array(['Dodge Charger SRT-8 2009'], dtype='<U24'),
        array(['Eagle Talon Hatchback 1998'], dtype='<U26'),
        array(['FIAT 500 Abarth 2012'], dtype='<U20'),
        array(['FIAT 500 Convertible 2012'], dtype='<U25'),
        array(['Ferrari FF Coupe 2012'], dtype='<U21'),
        array(['Ferrari California Convertible 2012'], dtype='<U35'),
        array(['Ferrari 458 Italia Convertible 2012'], dtype='<U35'),
        array(['Ferrari 458 Italia Coupe 2012'], dtype='<U29'),
        array(['Fisker Karma Sedan 2012'], dtype='<U23'),
        array(['Ford F-450 Super Duty Crew Cab 2012'], dtype='<U35'),
        array(['Ford Mustang Convertible 2007'], dtype='<U29'),
        array(['Ford Freestar Minivan 2007'], dtype='<U26'),
        array(['Ford Expedition EL SUV 2009'], dtype='<U27'),
        array(['Ford Edge SUV 2012'], dtype='<U18'),
        array(['Ford Ranger SuperCab 2011'], dtype='<U25'),
        array(['Ford GT Coupe 2006'], dtype='<U18'),
        array(['Ford F-150 Regular Cab 2012'], dtype='<U27'),
        array(['Ford F-150 Regular Cab 2007'], dtype='<U27'),
        array(['Ford Focus Sedan 2007'], dtype='<U21'),
        array(['Ford E-Series Wagon Van 2012'], dtype='<U28'),
        array(['Ford Fiesta Sedan 2012'], dtype='<U22'),
        array(['GMC Terrain SUV 2012'], dtype='<U20'),
        array(['GMC Savana Van 2012'], dtype='<U19'),
        array(['GMC Yukon Hybrid SUV 2012'], dtype='<U25'),
        array(['GMC Acadia SUV 2012'], dtype='<U19'),
        array(['GMC Canyon Extended Cab 2012'], dtype='<U28'),
        array(['Geo Metro Convertible 1993'], dtype='<U26'),
        array(['HUMMER H3T Crew Cab 2010'], dtype='<U24'),
        array(['HUMMER H2 SUT Crew Cab 2009'], dtype='<U27'),
        array(['Honda Odyssey Minivan 2012'], dtype='<U26'),
        array(['Honda Odyssey Minivan 2007'], dtype='<U26'),
        array(['Honda Accord Coupe 2012'], dtype='<U23'),
        array(['Honda Accord Sedan 2012'], dtype='<U23'),
        array(['Hyundai Veloster Hatchback 2012'], dtype='<U31'),
        array(['Hyundai Santa Fe SUV 2012'], dtype='<U25'),
        array(['Hyundai Tucson SUV 2012'], dtype='<U23'),
        array(['Hyundai Veracruz SUV 2012'], dtype='<U25'),
        array(['Hyundai Sonata Hybrid Sedan 2012'], dtype='<U32'),
        array(['Hyundai Elantra Sedan 2007'], dtype='<U26'),
        array(['Hyundai Accent Sedan 2012'], dtype='<U25'),
        array(['Hyundai Genesis Sedan 2012'], dtype='<U26'),
        array(['Hyundai Sonata Sedan 2012'], dtype='<U25'),
        array(['Hyundai Elantra Touring Hatchback 2012'], dtype='<U38'),
        array(['Hyundai Azera Sedan 2012'], dtype='<U24'),
        array(['Infiniti G Coupe IPL 2012'], dtype='<U25'),
        array(['Infiniti QX56 SUV 2011'], dtype='<U22'),
        array(['Isuzu Ascender SUV 2008'], dtype='<U23'),
        array(['Jaguar XK XKR 2012'], dtype='<U18'),
        array(['Jeep Patriot SUV 2012'], dtype='<U21'),
        array(['Jeep Wrangler SUV 2012'], dtype='<U22'),
        array(['Jeep Liberty SUV 2012'], dtype='<U21'),
        array(['Jeep Grand Cherokee SUV 2012'], dtype='<U28'),
        array(['Jeep Compass SUV 2012'], dtype='<U21'),
        array(['Lamborghini Reventon Coupe 2008'], dtype='<U31'),
        array(['Lamborghini Aventador Coupe 2012'], dtype='<U32'),
        array(['Lamborghini Gallardo LP 570-4 Superleggera 2012'], dtype='<U47'),
        array(['Lamborghini Diablo Coupe 2001'], dtype='<U29'),
        array(['Land Rover Range Rover SUV 2012'], dtype='<U31'),
        array(['Land Rover LR2 SUV 2012'], dtype='<U23'),
        array(['Lincoln Town Car Sedan 2011'], dtype='<U27'),
        array(['MINI Cooper Roadster Convertible 2012'], dtype='<U37'),
        array(['Maybach Landaulet Convertible 2012'], dtype='<U34'),
        array(['Mazda Tribute SUV 2011'], dtype='<U22'),
        array(['McLaren MP4-12C Coupe 2012'], dtype='<U26'),
        array(['Mercedes-Benz 300-Class Convertible 1993'], dtype='<U40'),
        array(['Mercedes-Benz C-Class Sedan 2012'], dtype='<U32'),
        array(['Mercedes-Benz SL-Class Coupe 2009'], dtype='<U33'),
        array(['Mercedes-Benz E-Class Sedan 2012'], dtype='<U32'),
        array(['Mercedes-Benz S-Class Sedan 2012'], dtype='<U32'),
        array(['Mercedes-Benz Sprinter Van 2012'], dtype='<U31'),
        array(['Mitsubishi Lancer Sedan 2012'], dtype='<U28'),
        array(['Nissan Leaf Hatchback 2012'], dtype='<U26'),
        array(['Nissan NV Passenger Van 2012'], dtype='<U28'),
        array(['Nissan Juke Hatchback 2012'], dtype='<U26'),
        array(['Nissan 240SX Coupe 1998'], dtype='<U23'),
        array(['Plymouth Neon Coupe 1999'], dtype='<U24'),
        array(['Porsche Panamera Sedan 2012'], dtype='<U27'),
        array(['Ram C/V Cargo Van Minivan 2012'], dtype='<U30'),
        array(['Rolls-Royce Phantom Drophead Coupe Convertible 2012'],
      dtype='<U51'),
        array(['Rolls-Royce Ghost Sedan 2012'], dtype='<U28'),
        array(['Rolls-Royce Phantom Sedan 2012'], dtype='<U30'),
        array(['Scion xD Hatchback 2012'], dtype='<U23'),
        array(['Spyker C8 Convertible 2009'], dtype='<U26'),
        array(['Spyker C8 Coupe 2009'], dtype='<U20'),
        array(['Suzuki Aerio Sedan 2007'], dtype='<U23'),
        array(['Suzuki Kizashi Sedan 2012'], dtype='<U25'),
        array(['Suzuki SX4 Hatchback 2012'], dtype='<U25'),
        array(['Suzuki SX4 Sedan 2012'], dtype='<U21'),
        array(['Tesla Model S Sedan 2012'], dtype='<U24'),
        array(['Toyota Sequoia SUV 2012'], dtype='<U23'),
        array(['Toyota Camry Sedan 2012'], dtype='<U23'),
        array(['Toyota Corolla Sedan 2012'], dtype='<U25'),
        array(['Toyota 4Runner SUV 2012'], dtype='<U23'),
        array(['Volkswagen Golf Hatchback 2012'], dtype='<U30'),
        array(['Volkswagen Golf Hatchback 1991'], dtype='<U30'),
        array(['Volkswagen Beetle Hatchback 2012'], dtype='<U32'),
        array(['Volvo C30 Hatchback 2012'], dtype='<U24'),
        array(['Volvo 240 Sedan 1993'], dtype='<U20'),
        array(['Volvo XC90 SUV 2007'], dtype='<U19'),
        array(['smart fortwo Convertible 2012'], dtype='<U29')]],
      dtype=object)

In [222]:
cars_train_annos = scipy.io.loadmat(devkit_path / "cars_test_annos.mat")

In [223]:
cars_train_annos = cars_train_annos['annotations'].squeeze()

In [224]:
cars_train_annos.shape

(8041,)

In [225]:
df = pd.DataFrame(cars_train_annos)

In [226]:
df.head()

   bbox_x1  bbox_y1  bbox_x2  bbox_y2        fname
0   [[30]]   [[52]]  [[246]]  [[147]]  [00001.jpg]
1  [[100]]   [[19]]  [[576]]  [[203]]  [00002.jpg]
2   [[51]]  [[105]]  [[968]]  [[659]]  [00003.jpg]
3   [[67]]   [[84]]  [[581]]  [[407]]  [00004.jpg]
4  [[140]]  [[151]]  [[593]]  [[339]]  [00005.jpg]

In [209]:
df = df.applymap(np.squeeze)

In [210]:
df.head()

   bbox_x1  bbox_y1  bbox_x2  bbox_y2  class      fname
0       39      116      569      375     14  00001.jpg
1       36      116      868      587      3  00002.jpg
2       85      109      601      381     91  00003.jpg
3      621      393     1484     1096    134  00004.jpg
4       14       36      133       99    106  00005.jpg

In [211]:
df_labels = df[['fname', 'class']]

In [214]:
df_labels.to_csv('./Data/train_labels.csv')

In [235]:
def get_labels_df(annos_matfile):
    assert annos_matfile in ['cars_train_annos.mat', 'cars_test_annos_withlabels.mat'], \
           "Please select 'cars_train_annos.mat' or 'cars_test_annos_withlabels.mat'"
           
    cars_annos = scipy.io.loadmat(devkit_path / annos_matfile)
    cars_annos = cars_annos['annotations'].squeeze()
    df = pd.DataFrame(cars_annos)
    df = df.applymap(np.squeeze)
    return df[['fname', 'class']]

In [236]:
train_labels = get_labels_df('cars_train_annos.mat')
test_labels = get_labels_df('cars_test_annos_withlabels.mat')

In [ ]:
train_imgs = list(train_path.glob("*"))
def show_img(imgs_list):
    idx = np.random.randint(len(train_imgs))
    img = plt.imread(imgs_list[idx])
    plt.imshow(img)